body {
    background-image: url(../images/background_image_10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ########################################################################################################### */

/* #############################################   NAVIGATION   ############################################## */

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    bottom: 20px;
    right: 25px;
    text-align: right;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:underline;
    color:bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18pt;
    margin: auto;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    transition: text-shadow 0.3s ease, transform 0.3s ease;
  }
  
  nav a:hover {
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.7);
    transform: scale(1.02); 
  }
  
  nav a:active {
    text-shadow: 3px 3px 1px rgba(255, 105, 180, 1);
    transition: text-shadow 0.1s ease;
  }

/* ########################################################################################################### */

/* #############################################   HEADER   ############################################## */

.web_title {
    position: absolute;
    left: 50px;
    top: -25px;
}

.web_title h1 {
    font-style: italic;
    text-align: center;
    color: #FFDB58;
    text-shadow: 3px 3px 2px rgba(255, 105, 180, 0.7);
    font-size: 80px;
    font-family: 'Space Grotesk';
    font-weight: bolder;
  }

/* ##########################################   WEBSITE INTRO    ############################################# */

/* WEBSITE INTRO CONTAINER */

.website_intro_container {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 600px;
    margin-bottom: 100px;
    margin-left: 50px;
    background-color: rgba(255, 165, 0, 0.8);
    padding: 25px;
    box-shadow: -5px 5px 4px rgb(253, 94, 83);
  }
  
  /* WEBSITE INTRO TITLE */
  
  .website_intro_title {
    font-family: Aoboshi One;
    font-style: italic;
    color: #DC143C;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgb(30, 144, 255);
    font-size: 32px;
  }
  
  /* WEBSITE INTRO CONTENT */
  
  .website_intro_paragraph {
    font-family: 'Roboto Condensed';
    font-size: 19px;
    color: #7D3C98;
  }
  
/* ########################################################################################################### */
